<!doctype html>
<html lang="en">
<head>
  <%- include('../layouts/head', { title: 'bMac | buyMeACoffee' }) %>
</head>
<body class="background on-surface-text">

<!-- top bar -->
<header class="top-bar">
  <div class="container">
    <a href="/" class="logo">
      <img src="/images/logo.svg" alt="BuyMeACoffee">
    </a>
  </div>
</header>

</body>
</html>