<!doctype html>
<html lang="en">
<head>
  <%- include('../layouts/head', { title: 'bMac | buyMeACoffee' }) %>
</head>
<body class="background on-surface-text">

<!-- top bar -->
<header class="top-bar">
  <div class="container">
    <a href="/" class="logo">
      <img src="/images/logo.svg" alt="BuyMeACoffee">
    </a>
  </div>
</header>

<main>
  <article>
    <!-- #HERO -->
    <section class="hero">
      <div class="container">
        <figure class="hero-banner">
          <img src="/images/banner.png" width="944" height="280" alt="" class="img-cover">
        </figure>
        <div class="hero-card">
          <figure class="card-banner">
            <img src="images/profile-photo.png" width="120" height="120" alt="" class="img-cover">
            <!-- 
              your server, you would need to set up a route to handle requests 
              to `/proxy` and fetch the image from `https://dmytroony.github.io/src/img/me.png`.
              <img src="/proxy?url=https://dmytroony.github.io/src/img/me.png"> 
            -->
            <!-- <img src="https://dmytroony.github.io/src/img/me.png" width="120" height="120" alt="" class="img-cover"> -->
          </figure>
          <div class="card-content">
            <h2 class="title-large">BuyMeACoffee</h2>
            <p class="subtitle body-medium on-surface-variant-text">
              JS Software Engineer
            </p>
            <p class="card-text body-medium on-surface-variant-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat totam quam maiores?
            </p>
          </div>
        </div>
      </div>
    </section>
  </article>
</main>

</body>
</html>